clouds:
  test:
    profile: "otc"
    auth:
      auth_url: "{{ os_auth_url }}"
      project_name: "{{ os_project_name }}"
      username: "{{ os_username }}"
      user_domain_name: "{{ os_domain_name }}"
      password: "{{ os_password }}"
